html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding: 1.5rem;
  margin: 0;
  background-color: #161c29;
  color: white;
}

.body {
  margin: auto;
}

.sleeper-logo {
  width: 80%;
  max-width: 350px;
}

header {
  margin: auto;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

header img {
  width: 90%;
  max-width: 300px;
}

header h1 {
  margin-top: 10px;
  text-align: center;
}

header h2 {
  font-weight: 300;
  margin-top: -10px;
}

.note {
  background-color: #27455d;
  padding: 5px 15px;
  border-radius: 20px;
  text-align: center;
  max-width: 500px;
  border: solid #0ebcc3 3px;
  margin: auto;
}
.note p {
  margin-top: -10px;
}

.awards {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: auto;
  max-width: 1200px;
  text-align: center;
  margin-bottom: 1rem;
}

.awards .box {
  position: relative;
  background-color: #2e384a;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  height: auto;
  border: #2e384a 1px solid;
  padding-bottom: 15px;
}

#awards {
  margin-top: 30px;
  margin-bottom: 20px;
}

#awards h2 {
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

.awards div h3 {
  margin-top: 3px;
  padding: 0px 25px;
}

.awards .emoji {
  position: absolute;
  left: -10px;
  top: -10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: auto;
  background-color: #283142;
  border: #2e384a 3px solid;
  padding: 5px;
  font-size: 20px;
  z-index: 1;
}

.awards .weekly-winner {
  border: #6cc49c 3px solid;
}

.weekly-winner .emoji {
  z-index: 1;
  border: #6cc49c 3px solid;
}

.awards .award-avatar {
  border-radius: 50%;
  width: 30px;
  margin: auto;
  border: #2e384a 4px solid;
  display: block;
}

.awards .stat {
  display: block;
  font-size: 20px;
}

.awards .desc {
  margin-top: -20px;
  padding: 5px 15px;
  font-size: 14px;
}

.awards .username {
  color: lightgrey;
  font-size: 14px;
  font-weight: 400;
}

.awards .good,
.good {
  color: #6cc49c;
}

.awards .bad,
.bad {
  color: #f85a8b;
}

.standings {
  margin: auto;
  max-width: 990px;
  padding: 5px;
}

.standings li {
  list-style: none;
}

.container {
  border-radius: 40px;
  background: #283142;
  min-height: 190px;
  height: auto;
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  margin-left: 4px;
  border: #2e384a 4px solid;
  scroll-margin-top: 60px;
}

.container .ranking {
  border-radius: 50%;
  background: #2e384a;
  color: white;
  position: absolute;
  top: 10px;
  left: -20px;
  width: 30px;
  height: 30px;
  padding: 7px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  z-index: 3;
}

.container .weekly-winner-rank {
  background: #6cc49c;
  color: #2e384a;
}

.container-11 .ranking {
  background: #f85a8b;
  color: #2e384a;
}

.container .clinched {
  background: #af67fb;
  color: #2e384a;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  position: absolute;
  left: -25px;
  top: 0;
  bottom: 0;
  margin: auto;
  border: #2e384a 4px solid;
  z-index: 2;
}

.avatar-buttons {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 3rem auto;
}

.avatar-link {
  border-radius: 50%;
  width: 40px;
  margin: auto;
  border: #2e384a 2px solid;
  margin: 2px 5px;
}

.playoffs,
.eliminated {
  background: #6cc49c;
  border: solid 2px #2e384a;
  border-radius: 50%;
  color: #2e384a;
  position: absolute;
  top: 130px;
  left: -15px;
  width: 15px;
  height: 15px;
  padding: 7px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  z-index: 3;
}

.eliminated {
  background: #f85a8b;
  padding: 3px 6px 9px;
}

.playoffs-icon,
.eliminated-icon {
  background: #6cc49c;
  border: solid 2px #2e384a;
  border-radius: 50%;
  color: #2e384a;
  display: inline-block;
  width: 10px;
  height: 10px;

  padding: 3px 6px 9px;
  font-size: 0.8rem;
  font-weight: 500;
}
.eliminated-icon {
  background: #f85a8b;
}

.playoffs-11,
.playoffs-10,
.playoffs-9,
.playoffs-8,
.playoffs-7,
.playoffs-6,
.playoffs-5 {
  display: none;
}

.eliminated-0,
.eliminated-1,
.eliminated-2,
.eliminated-3,
.eliminated-4,
.eliminated-5,
.eliminated-6 {
  display: none;
}

.weekly-winner {
  border: #6cc49c 4px solid;
  box-shadow: 0px 0px 10px 5px #6cc49c;
}

/* .container-0,
.container-1,
.container-2,
.container-3 {
  border: #af67fb 4px solid;
  box-shadow: 0px 0px 10px 5px #af67fb;
} */

.wins {
  font-size: 14px;
  color: #6cc49c;
}
.losses {
  font-size: 14px;
  color: #f85a8b;
}

.weekly-winner-circle {
  border: #6cc49c 4px solid;
}

.playoffs-circle {
  border: #af67fb 4px solid;
}

.container-11 {
  border: #f85a8b 4px solid;
  box-shadow: 0px 0px 10px 5px #f85a8b;
}
.container-11 .avatar {
  border: #f85a8b 4px solid;
}

.name-desc {
  margin-left: 100px;
  margin-bottom: 80px;
}

.name-desc h3 {
  margin-left: -20px;
  margin-bottom: 0px;
}

.name-desc .owner-name {
  margin-left: -10px;
  color: lightgrey;
  font-size: 14px;
}

.modal-content .owner-name {
  color: lightgrey;
  font-size: 14px;
  font-weight: 400;
  display: block;
}

.modal-content {
  margin: auto;
  text-align: center;
}

.name-desc p {
  margin-top: 10px;
  margin-bottom: 90px;
  margin-right: 20px;
}

.name-desc iframe {
  margin: 15px 0;
  width: 100%;
  height: 100%;
  max-width: 280px;
  max-height: 200px;
  border: none;
  display: block;
}

.name-desc img {
  width: 100%;
  max-width: 250px;
  display: block;
  margin: 15px 0;
}

.bottom {
  height: 20px;
  background: #161c29;
  margin: auto;
  padding: 3px 20px 15px;
  display: block;
  font-size: 12px;
  text-align: right;
  border-radius: 0px 0px 35px 35px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: normal;
}
.matchup {
  float: left;
}
.previous-champ {
  float: right;
  font-size: 14px;
  font-weight: 600;
  margin-top: -4px;
}

.matchup span {
  font-size: 12px;
}

.matchup span .team-name {
  font-weight: 600;
}

.matchup span .priority {
  float: right;
  margin: 4px 25% 0px 10px;
  margin-right: 24%;
}

.name-desc .winning-weeks {
  /* position: absolute;
  bottom: 6px;
  right: 300px; */
  color: #6cc49c;
  font-size: 12px;
  margin-top: 10px;
}
.top-scorer {
  color: #6cc49c;
  font-size: 12px;
  margin-top: 20px;

  display: block;
}

.stats {
  background: #2e384a;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 0px 35px 35px 0px;
  padding: 5px 15px 20px;
  width: 26%;
  overflow: hidden;
  box-shadow: -8px 0 10px -6px #000000;
}

.stats h4 {
  margin-top: 5px;
}
.stats p {
  font-size: 14px;
  margin-top: -10px;
}

.stats p span {
  display: block;
  margin-top: 3px;
}

.stats p span .matchup-points {
  display: inline;
  margin-top: 3px;
}

.stats p.stats-other {
  margin-top: 12px;
}

.playoff-list {
  list-style-type: circle;
  text-align: left;
  padding-left: 15px;
}

.standings .playoff-list li {
  list-style-type: circle;
  margin-left: 25px;
}

.full-screen {
  width: 100%;
  height: 75vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 4rem;
  box-sizing: border-box;
  text-align: center;
}

.current-champ {
  color: #161c29;
  font-weight: 600;
  height: 20px;
  background: #6cc49c;
  padding: 6px 20px 12px 15px;
  margin-top: -15px;
  border-bottom-right-radius: 34px;
  margin-right: -22px;
  font-size: 16px;
}

.previous-champ:empty {
  display: none;
}

@media all and (max-width: 750px) {
  .awards {
    grid-template-columns: 50% 50%;
  }

  .awards .desc {
    font-size: 12px;
  }

  .awards div h3 {
    font-size: 16px;
    padding: 0px 30px;
  }

  .awards .stat {
    display: block;
    font-size: 18px;
  }

  .awards .username {
    font-size: 12px;
    line-height: normal;
    display: block;
  }

  .name-desc {
    margin-bottom: 50px;
  }

  .stats {
    width: 30%;
  }

  .bottom {
    height: auto;
    float: none;
    margin: auto;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: normal;
    padding: 3px 20px 0px;
  }

  .matchup {
    float: none;
    display: block;
    /* padding-bottom: 10px; */
  }
  .champ-matchup .matchup {
    padding-bottom: 10px;
  }
  .previous-champ {
    float: none;
    display: block;
    margin-top: 5px;
    border-top: solid #283142 3px;
    padding: 7px 10px 0px 5px;
  }
  .current-champ {
    color: #6cc49c;
    font-weight: 600;
    height: 20px;
    background: #161c29;
    padding: 5px 20px 2px 15px;
    margin-top: -14px;
    border-bottom-right-radius: 42px;
    margin-right: -20px;
    font-size: 16px;
    margin: auto;
  }
}

@media all and (max-width: 600px) {
  .container {
    text-align: center;
    min-height: 100px;
    padding-top: 60px;
    width: 95%;
    margin: auto;
    margin-top: 65px;
  }

  .playoff-list {
    list-style-type: circle;
    text-align: left;
  }

  .avatar {
    width: 100px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -50px;
  }

  .name-desc {
    margin-top: 100px;
    margin: auto;
  }

  .name-desc h3 {
    width: 90%;
    margin: 10px auto 3px;
  }

  .name-desc .owner-name {
    margin-left: 0px;
  }

  .name-desc p {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .name-desc .winning-weeks {
    font-size: 13px;
    position: relative;
    text-align: center;
    margin: auto;
    left: 0px;
    width: 90%;
    display: block;
    line-height: 1.5;
  }

  .stats {
    margin-top: 13px;
    position: relative;
    height: auto;
    border-radius: 0px 0px 35px 35px;
    width: auto;
    box-shadow: 0 -8px 10px -6px #000000;
  }

  .bottom {
    height: auto;
    float: none;
    margin: auto;
    display: block;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 16px;
    padding: 0px;
    margin-bottom: -12px;
  }

  .matchup {
    float: none;
    display: block;
    padding: 15px 20px 10px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0px;
    /* margin-bottom: -12px; */
  }

  .previous-champ {
    float: none;
    display: block;
    /* margin-top: 7px; */
    padding: 7px 20px 10px;
    font-size: 16px;
    font-weight: 800;
  }

  .current-champ {
    color: #161c29;
    font-weight: 600;
    height: 20px;
    background: #6cc49c;
    padding: 10px 5px 5px 5px;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    font-size: 16px;
    border-top: solid #283142 3px;
  }

  .stats p.stats-other {
    margin-top: 20px;
  }

  .matchup span .priority {
    line-height: 2;
    float: none;
    margin: auto;
    display: block;
  }

  .stats p span.stat-matchup .team-name {
    display: inline-block;
    font-weight: 600;
  }

  .name-desc img {
    width: 85%;
    margin: 15px auto;
  }

  .playoffs,
  .eliminated {
    top: 45px;
  }
}

.full-screen-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-bar {
  width: 60%;
  height: 8px;
  background-color: #eee;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
}

.loading-bar-progress {
  width: 0;
  height: 100%;
  background-color: #6cc49c;
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
  position: relative;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

  background: #283142;

  border: #2e384a 4px solid;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.modal-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -100px;
  background: #283142;

  border: #2e384a 4px solid;
}

.mvp {
  color: #6cc49c;
}
.bench-mvp {
  color: lightgrey;
}

.update-page {
  margin: auto;
  text-align: center;
  max-width: 1200px;
}
.update-page select,
.update-page textarea,
.update-page button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;
  margin: 5px;
}

/* Textareas */
.update-page textarea,
.update-page input {
  background-color: #283142;
  border: #2e384a 3px solid;
  border-radius: 12px;
  padding: 0.75rem;
  width: 90%;
  min-height: 120px;
  margin: auto;
  resize: none;
  color: white;
  outline: none;
  transition:
    border 0.2s,
    box-shadow 0.2s;
}

.update-page input {
  min-height: 30px;
  margin-bottom: 15px;
}

.update-page textarea:focus,
.update-page input:focus {
  border-color: #6cc49c;
  box-shadow: 0 0 6px #6cc49c;
}
.update-page hr {
  border: 1px solid #283142;
  margin: 20px auto 30px;
}

/* Select Dropdown */
.update-page select {
  background-color: #283142;
  border: 2px solid #2e384a;
  border-radius: 12px;
  padding: 0.5rem 0.75rem;
  color: white;
  outline: none;
  transition:
    border 0.2s,
    box-shadow 0.2s;
}

.update-page select:focus {
  border-color: #6cc49c;
  box-shadow: 0 0 6px #6cc49c;
}

/* Button */
.update-page button {
  background-color: #6cc49c;
  color: #161c29;
  border: none;
  border-radius: 12px;
  padding: 0.5rem 1.25rem;
  font-weight: 600;
  cursor: pointer;
  height: 40px;
  transition:
    background-color 0.2s,
    transform 0.1s;
}

.update-page button:hover:not(:disabled) {
  background-color: #57a983;
}

.update-page button:disabled {
  background-color: #4c6e57;
  cursor: not-allowed;
}
.team-blurb {
  white-space: pre-wrap;
}
