body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding: 1.5rem;
  margin: 0;
  background-color: #161c29;
  color: white;
}

header {
  margin: auto;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
}

header img {
  width: 90%;
  max-width: 300px;
}

header h1 {
  margin-top: 10px;
}

header h3 {
  font-weight: 300;
  margin-top: -10px;
}

.awards {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: auto;
  max-width: 1200px;
  text-align: center;
}

.awards .box {
  position: relative;
  background-color: #2e384a;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  height: auto;
  border: #2e384a 1px solid;
  padding-bottom: 15px;
}

#awards {
  margin-top: 30px;
  margin-bottom: 20px;
}

#awards h2 {
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

.awards div h3 {
  margin-top: 3px;
  padding: 0px 25px;
}

.awards .emoji {
  position: absolute;
  left: -10px;
  top: -10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: auto;
  background-color: #283142;
  border: #2e384a 3px solid;
  padding: 5px;
  font-size: 20px;
  z-index: 1;
}

.awards .weekly-winner {
  border: #6cc49c 3px solid;
}

.weekly-winner .emoji {
  z-index: 1;
  border: #6cc49c 3px solid;
}

.awards .award-avatar {
  border-radius: 50%;
  width: 30px;
  margin: auto;
  border: #2e384a 4px solid;
  display: block;
}

.awards .stat {
  display: block;
  font-size: 20px;
}

.awards .desc {
  margin-top: -20px;
  padding: 5px 15px;
  font-size: 14px;
}

.awards .username {
  color: lightgrey;
  font-size: 14px;
  font-weight: 400;
}

.awards .good {
  color: #6cc49c;
}

.awards .bad {
  color: #f85a8b;
}

.standings {
  margin: auto;
  max-width: 990px;
  padding: 5px;
}

.standings li {
  list-style: none;
}

.container {
  border-radius: 40px;
  background: #283142;
  min-height: 170px;
  height: auto;
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  margin-left: 4px;
  border: #2e384a 4px solid;
}

.container .ranking {
  border-radius: 50%;
  background: #2e384a;
  color: white;
  position: absolute;
  top: 10px;
  left: -20px;
  width: 30px;
  height: 30px;
  padding: 7px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  z-index: 3;
}

.container .first {
  background: #6cc49c;
  color: #2e384a;
}

.container-11 .ranking {
  background: #f85a8b;
  color: #2e384a;
}

.container .clinched {
  background: #af67fb;
  color: #2e384a;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  position: absolute;
  left: -25px;
  top: 0;
  bottom: 0;
  margin: auto;
  border: #2e384a 4px solid;
  z-index: 2;
}

.clinched-playoffs {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #af67fb;
  font-size: 12px;
  font-weight: 600;
  width: 100px;
}

.eliminated {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #f85a8b;
  font-size: 12px;
  font-weight: 600;
  width: 80px;
}

.seed {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #6cc49c;
  font-size: 12px;
  font-weight: 600;
  width: 80px;
}

.hunt {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #e7692f;
  font-size: 12px;
  font-weight: 600;
  width: 80px;
}

.weekly-winner {
  border: #6cc49c 4px solid;
  box-shadow: 0px 0px 10px 5px #6cc49c;
}

.playoffs {
  border: #af67fb 4px solid;
  box-shadow: 0px 0px 10px 5px #af67fb;
}

.wins {
  font-size: 14px;
  color: #6cc49c;
}
.losses {
  font-size: 14px;
  color: #f85a8b;
}

.weekly-winner-circle {
  border: #6cc49c 4px solid;
}

.playoffs-circle {
  border: #af67fb 4px solid;
}

.container-11 {
  border: #f85a8b 4px solid;
  box-shadow: 0px 0px 10px 5px #f85a8b;
}
.container-11 .avatar {
  border: #f85a8b 4px solid;
}

.name-desc {
  margin-left: 100px;
  margin-right: 33%;
  margin-bottom: 40px;
}

.name-desc h3 {
  margin-left: -20px;
  margin-bottom: 0px;
}

.name-desc .owner-name {
  margin-left: -10px;
  color: lightgrey;
  font-size: 14px;
}

.name-desc p {
  margin-top: 10px;
  margin-bottom: 40px;
}

.name-desc p iframe {
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  max-width: 280px;
  max-height: 200px;
}

.matchup {
  width: 85%;
  height: 20px;
  background: #161c29;
  margin: auto;
  padding: 3px 25px 4px;
  display: block;
  left: 4px;
  bottom: 0px;
  position: absolute;
  z-index: 0;
  border-radius: 0px 0px 30px 30px;
}

.matchup span {
  font-size: 12px;
}

.matchup span .team-name {
  font-weight: 600;
}

.matchup span .priority {
  float: right;
  margin: 4px 25% 0px 10px;
  margin-right: 24%;
}

.name-desc .winning-weeks {
  /* position: absolute;
  bottom: 6px;
  right: 300px; */
  color: #6cc49c;
  font-size: 12px;
  margin-top: 10px;
}

.stats {
  background: #2e384a;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 0px 35px 35px 0px;
  padding: 5px 15px 20px;
  width: 26%;
  overflow: hidden;
  box-shadow: -8px 0 10px -6px #000000;
}

.stats h4 {
  margin-top: 5px;
}
.stats p {
  font-size: 14px;
  margin-top: -10px;
}

/* Delete this after week one */
.stats-points {
  display: none;
}

.stats p span {
  display: block;
  margin-top: 3px;
}

.stats p span .matchup-points {
  display: inline;
  margin-top: 3px;
}

/* show this after week 1 */
/* .stats p.stats-other {
  margin-top: 12px;
} */

.stats p span.stat-matchup {
  display: none;
}

.playoff-list {
  list-style-type: circle;
  text-align: left;
  padding-left: 15px;
}

.standings .playoff-list li {
  list-style-type: circle;
  margin-left: 25px;
}

.full-screen {
  width: 100%;
  height: 75vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 4rem;
  box-sizing: border-box;
  text-align: center;
}

.previous-champ {
  width: 100%;
  background: #161c29;
  margin: auto;
  margin-left: -15px;
  padding: 7px 15px 3px;
  display: block;
  bottom: 0px;
  position: absolute;
  font-size: 12px;
  height: 17px;
}

.current-champ {
  background: #6cc49c;
  color: #2e384a;
  font-weight: 600;
}

.previous-champ:empty {
  display: none;
}

@media all and (max-width: 750px) {
  .awards {
    grid-template-columns: 50% 50%;
  }

  .awards .desc {
    font-size: 12px;
  }

  .awards div h3 {
    font-size: 16px;
    padding: 0px 30px;
  }

  .awards .stat {
    display: block;
    font-size: 18px;
  }

  .awards .username {
    font-size: 12px;
    line-height: normal;
    display: block;
  }

  .name-desc {
    margin-bottom: 50px;
    margin-right: 38%;
  }

  .stats {
    width: 30%;
  }

  .matchup {
    width: 70%;
    height: auto;
    margin: auto;
  }

  .matchup span .priority {
    float: none;
    margin: auto;
    display: block;
  }

  .previous-champ {
    font-size: 12px;
  }
}

@media all and (max-width: 600px) {
  .container {
    text-align: center;
    min-height: 100px;
    padding-top: 60px;
    width: 95%;
    margin: auto;
    margin-top: 65px;
  }

  .playoff-list {
    list-style-type: circle;
    text-align: left;
  }

  .avatar {
    width: 100px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -50px;
  }

  .name-desc {
    margin-top: 100px;
    margin: auto;
  }

  .name-desc h3 {
    width: 90%;
    margin: 10px auto 3px;
  }

  .name-desc .owner-name {
    margin-left: 0px;
  }

  .name-desc p {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .name-desc .winning-weeks {
    font-size: 13px;
    position: relative;
    text-align: center;
    margin: auto;
    left: 0px;
    width: 90%;
    display: block;
    line-height: 1.5;
  }

  .stats {
    margin-top: 13px;
    position: relative;
    height: auto;
    border-radius: 0px 0px 35px 35px;
    width: auto;
    box-shadow: 0 -8px 10px -6px #000000;
  }

  /* Show this after week 1 */
  /* .stats p.stats-other {
    margin-top: 20px;
  } */
  .previous-champ {
    font-size: 14px;
    margin-left: -25px;
  }

  .matchup {
    display: none;
  }

  .matchup span .priority {
    line-height: 2;
    float: none;
    margin: auto;
    display: block;
  }

  .stats p span.stat-matchup {
    width: 107%;
    background: #161c29;
    margin: auto;
    margin-left: -25px;
    padding: 5px 15px 10px;
    display: block;
    margin-top: 15px;
    margin-bottom: -35px;
  }

  .stats p span.stat-matchup-3,
  .stats p span.stat-matchup-2,
  .stats p span.stat-matchup-10,
  .stats p span.stat-matchup-9,
  .stats p span.stat-matchup-4,
  .stats p span.stat-matchup-11 {
    margin-bottom: -2px;
  }

  .stats p span.stat-matchup .team-name {
    display: inline-block;
    font-weight: 600;
  }
}
